{% macro card_item(manual_item) %}
	<div>
		<div class="card-with-media uk-card uk-card-default">
			<a class="uk-display-block" href="{{ manual_item.url }}" target="_blank">
				<div class="uk-card-media-top" style="background-image: url('{{ manual_item.image }}')">
				</div>
			</a>
			<div class="uk-card-body">
				{% if manual_item.title %}
					<a class="uk-display-block" href="{{ manual_item.url }}" target="_blank">
						<h3 class="uk-card-title">{{ manual_item.title }}</h3>
					</a>
				{% endif %}
				{% if manual_item.excerpt %}
					<div class="richtext-content">
						{{ manual_item.excerpt }}
					</div>
				{% endif %}

				{% set cta = manual_item.cta_field %}
				{% if cta %}
					<div class="cta-wrapper uk-margin-top">
						<a href="{{ cta.url }}" class="uk-text-bold" target="{{ cta.target }}">{{ cta.title }}</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endmacro %}

{% import _self as card_grid_manual %}

<div class="card-grid-and-manual-content uk-width-1-1 bg--{{ styles.background_color }} padding remove-{{ global.padding|join('-') }}">
	<div class="content-wrapper">
		{% if content.header %}
			<h2 class="uk-margin-medium-bottom uk-text-center">{{ content.header }}</h2>
		{% endif %}
	
		{% if content.cards %}
			<div uk-grid class="uk-grid uk-child-width-1-{{ styles.columns }}@m uk-grid-match columns-{{ styles.columns }}">
				{% for manual_item in content.cards %}
					{{ card_grid_manual.card_item(manual_item) }}
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>